.introduction-container {
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;


}

.introduction-container-internal {
    /* background-color: yellow; */
    margin: 10px 0px 10px 0px;
    
}

.introduction-container-internal-1 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
}

.introduction-container-internal-2 {
    color: black;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
}

.introduction-container-internal-3 {
    font-weight: 600;
    font-size: 20px;
    color: #7b7b7b;
    font-style: italic;
}

.introduction-container-internal-4 {
    color: black;
    margin: 0 10%;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;

}