.payment-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}

.inner-payment-form {
    display: flex;
    flex-direction: column;
}

.card {
    opacity: 0;

}

.button-payment {
    color: white;
    border: none;
    background-color: tomato;
    padding: 30px;
    background-color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: lighter;
}

.button-payment:hover {
    cursor: pointer;
    color: gold
}
